.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.app-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.tax-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.add-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #45a049;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.task-checkbox {
    margin-right: 10px;
}

.task-text {
    flex-grow: 1;
    margin-right: 20px;
}

.task-text.completed {
    text-decoration: line-through;
    color: #aaa;
}

.delete-button {
    padding: 5px 10px;
    background-color: hsl(4, 90%, 58%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e53935;
}